<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2jvEHOquzEEHncFpE6lHsPrpb0icrsF4</string>
	<key>GCM_SENDER_ID</key>
	<string>370943465435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesFinal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-final-300f1</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-final-300f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370943465435:ios:e028f1e412a3454225b9fe</string>
</dict>
</plist>